#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^https://outils-gfp.gfp2000.com/wisi/$
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php [NC,L,QSA]

RewriteEngine on
RewriteBase /wisi/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [NC,L,QSA]